.parallaxWrapper {
  position: relative;
  height: 83vh; /* Adjust as needed */
  overflow: hidden;
}

.parallaxImage {
  position: absolute;
  top: -150;
  left: 0;
  width: 100%;
  height: 150%; /* Make it taller to allow for vertical movement */
  filter: blur(2px);
}

.parallaxContent {
  position: relative;
  z-index: 1; /* Ensure content is above the image */
  /* Add your content styles here */
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: space-around ; /* Horizontally centers the content (optional, but often desired) */
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
  width: 100%; /*Ensures the container takes up the full width */
}



.parallaxContent h1 {
  font-family: var(--font-pinyon);
  color: #000;
  font-size: 4rem;
}

.centeredContent {
  /* Add any specific styling for your centered content here */
  text-align: center; /* Example: center text within the content */
}